body{
    height: 100vh;
    width: 99%;
    background-image: url("../images/winkel.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

*{
    font-family: "Helvetica Neue Regular";
}

.header{
    width: 90%;
    min-width: 10em;
    min-height: 0em;
    border-width: 0.3em;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    background-color: #00A0E2;
    margin: 0.4em auto;
    border-radius: 1.5em 1.5em 0em 0em;
    /* display: flex; */
    /* flex-direction: row; */
}

.header_content{
    display: flex;
    align-items: center;
}

.header_text{
    width: 7em;
    margin: 0em auto;
}

.header_img{
    height: 5em;
    /* position: absolute; */
    margin: 1em 2em;
    /* top: 24px; */
    border-radius: 1em;
    /* float: left; */
}

/* .headerContent {
    display: inline-block;
    margin-left: 5em;
} */
/* .paginatitel{
    text-align: center;
    float: center;
} */
/* .AHLogo{
    height: 4.8em;
    float: left;
    margin-left:5em;
} */

.container{
    min-width: 10em;
    width: 90%;
    border: 0.3em solid rgb(255, 255, 255);
    margin: 0.4em auto;
    border-radius: 0em 0em 1.5em 1.5em;
    background-color: #00A0E2;
}
.containerTitel{
    text-align: center;
}

form{
    margin: 1.2em 1.5em;
    float: left;
}
#map{
    height: 68vh;
    max-width: 100%;
    /* min-width: 8em; */
    margin: 1em;
    border-radius: 1em;
    border: 0.1em solid white;
}

#info_window{
    border: 0.2em solid white;
    max-width: 90%;
    /* min-width: 2%; */
    min-height: 5em;
    margin: 0 1em 0 9em;
    border-radius: 1em;
    padding: 0 2em;
    display: flex;
    justify-content: space-around;
    color: white;
}

#zoek_button{
    border: 0.2em solid white;
    background-color: white;
    border-radius: 1em;
    height: 3.5em;
    width: 7em;
    
}

h1{
    color: white;
}

h2{
    color: white;
}
