/* Template Style */

body{
    width: 100%;
    height: 100vh;

}

.header-box{
    overflow: hidden;
    height: 15%;
    width: 100%;
    min-width: 50em;
    min-height: 7em;
    position: relative;
    border-bottom: 0.2em solid black;
}

.header-img{
    width: 100em;
}

.header-box h1{
    position: absolute;
    z-index: 1;
    top: 1%;
    /* right: 10%; */
    text-align: center;
    font-size: 6em;
    font-weight: bold;
    font-family: inherit;
}

.page-content{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
}

.nav-bar{
    width: 11em;
    height: 100vh;
    background-color: #B1E0FF;
}

.nav-bar li{
    width: 6.5em;
    border: 0.2em solid #FFFFFF;
    border-left: #81A5BC;
    border-radius: 0 1em 1em 0;
    padding: 1.2em 0em;
    font-size: 1.5em;
    margin: 2em 0.5em 2em 0;
    text-align: center;
    font-weight: bold;
    background-color: white;
    color: #12129B;
    font-family: initial;
}

.content{
    width: 100%;
    min-width: 100vh;
    height: 100vh;
    word-wrap: break-word;
    background-color: whitesmoke;
}

/* content Style */

.content-intro{
    display: flex;
}

.content-intro img{
    margin: 1em 0 0 1em;
}

.content-intro-text{
    display: flex;
    flex-direction: column;
    width: 22em;
    margin: auto 2em;
}

.content h2{
    font-size: 2em;
    font-weight: bold;
    margin: 0 0.2em;
    font-family: cursive;
    color: darkslateblue;
}

.content h3{
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.5em;
    font-family: cursive;
    color: darkslategrey;
}

.content p{
    margin: 1em 0em 1em 0.5em;
    font-family: sans-serif;
}

.content ul {
    list-style-type: disc;
    margin: 0 2em;
}

.content ol {
    list-style-type: decimal; 
    margin: 0 2em;
}

/* Websysteem pagina Table style  */

.content table{
    margin: 1em;
    text-align: center;
    width: 40em;
    height: 6em;
}

.content th{
    border: 0.1em solid black;
    padding: 0.1em;
    background-color: darkblue;
    font-weight: bold;
    color: wheat;
}

.content td{
    border: 0.1em solid black;
    padding: 0.1em;
    background-color: ghostwhite;
    color: darkblue;
    font-family: monospace;
}

/* Techniek pagina Style */

.techniek-menu{
    width: 22em;
    margin: 3.5em auto;
    height: 25em;
    padding: 3em;
    border-radius: 1.5em;
    background-color: #B1E0FF;
}

.techniek-menu li{
    margin: 1em auto;
    width: 10em;
    height: 1em;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    border-radius: 1.5em;
    padding: 1.5em;
    background-color: white;
    color: #12129B;
}

.techniek-menu h2{
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}

#techniek-menu-list {
    list-style-type: none;
}

/* game pagina */

.content h1{
	font-family: 'Griffy', cursive;
	font-size: 3em;
	color:#ee5000;
	text-align: center;
}

.wrapper{
	margin:0 auto;
	width: 370px;
}

.raadje-plaatje{
	background-color: #fff;
	border-radius: 20px;
	/* overflow:hidden;	 */
	display:flex;
	justify-content: flex-start;
	/* flex-wrap: wrap; */
}

.img-grid{
	margin-top:20px;
	background-color: #ee5000;
	padding:15px;
	border-radius: 20px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.img--small{
	border: 3px solid #fff;
	margin:3px;
}

.picture{
	border:#0096ff 20px solid;
	border-radius: 20px;
	background-color: #0096ff;
	width:150px;
	height:150px;
}

.message{
	width:130px;
	padding:20px;
	font-size:1.4em;
}