html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  background-image: url('../../images/concrete1080.png');
}

.container{
  position: absolute;
  overflow: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-left: 10px solid orange;
  border-right: 10px solid orange;
}

.carOrange{
  position: absolute;
  width: 200px;
  height: 100px;
  margin-top: 220px;
  transition: width 2s, height 2s, transform 0.2s;
}

.carOrange img{
  height: 100px;
  width: 200px;
}

.carWhite{
  position: absolute;
  width: 200px;
  height: 100px;
  margin-top: 220px;
  transition: width 2s, height 2s, transform 0.2s;
}

.carWhite img{
  height: 100px;
  width: 200px;
}

.parkingLot{
  position: absolute;
  width: 265px;
  height: 120px;
  z-index: -1;
  margin-top: 340px;
  margin-left: 690px
}

.parkingLot img{
  height: 120px;
  width: 265px;
}

.scoreBoard{
  border: 5px solid crimson;
  width: 400px;
  margin: 10px auto;
  background-color: dimgray;
  border-radius: 40px;
}

.scoreBoard p{
  margin: 10px auto;
  width: 150px;
  font-size: 2em;
  color: floralwhite;
}

.wallLong{
  width: 123px;
  height: 380px;
  position: absolute;
  z-index: 1;
  margin-top: 70px;
  margin-left: 955px;
}

.startMenu{
  width: 900px;
  border: 5px solid;
  border-radius: 20px;
  background-color: dimgray;
  margin: 150px auto;
}

.menuText{
  font-size: 4em;
  color: floralwhite;
  text-align: center;
}

.startButton{
  font-size: 3em;
  font-weight: bold;
  color: greenyellow;
  background-color: black;
  width: 300px;
  border-radius: 13px;
  margin: 20px 300px;
}